/*@desktop-size: 769px;*/
@media only screen and (min-width: 768px) {
  #app-drawer {
    position: fixed !important;
    float: none;
    top: 51px !important;
    height: 50%;
    z-index: 10000;
    list-style: none;
    display: none;
    text-align: center;
    width: 400px;
    max-height: 450px;
    overflow-y: auto;
    background-color: #e7e7e7;
  }
  #close-app-drawer {
    position: absolute !important;
    top: -0.5em;
    right: 0;
    float: right;
    width: 100%;
  }
  #close-app-drawer-button {
    font-size: .5em;
  }
  .buttonRow {
    display: table;
    width: 100%;
    overflow-x: auto;
  }
  .appButton {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .tile-link {
    display: inline-block;
    width: 110px;
    vertical-align: bottom;
    text-align: center;
    color: #777 !important;
    text-decoration: none !important;
    padding: 5px 0;
  }
  .tile-link:before {
    white-space: pre;
  }
  .tile-link:hover {
    background-color: #e0dbd8;
    opacity: 0.85;
  }
  .close {
    float: right;
  }
  .centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .centered {
    width: 100%;
    text-align: center;
    word-wrap: break-word !important;
    -ms-word-wrap: break-word !important;
    white-space: pre-line;
    font-size: 0.9em;
    display: block;
  }
  #menu-arrow {
    display: none;
  }
  #menu-caret {
    display: normal;
  }
}
@media only screen and (max-width: 767px) {
  #app-drawer {
    position: fixed !important;
    float: right;
    right: 0 !important;
    top: 51px !important;
    height: 85% !important;
    /*Fallback if needed*/
    z-index: 10000;
    display: none;
    width: 100%;
    text-align: center;
    background-color: #e7e7e7;
    overflow-y: auto;
  }
  #close-app-drawer {
    position: absolute !important;
    top: -0.5em;
    left: 0;
    float: left;
    width: 100%;
    padding-bottom: 5px;
    clear: both;
    z-index: 9999;
  }
  #close-app-drawer-button {
    font-size: 12pt;
  }
  #close-app-drawer > button {
    float: left;
    opacity: 0.8;
    font-size: xx-large;
    background: #e7e7e7;
    padding: 0 5px;
  }
  .buttonRow {
    display: table;
    width: 100%;
    overflow-x: auto;
  }
  .appButton {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .tile-link {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    padding: 5px 0;
  }
  .tile-link:before {
    white-space: pre;
  }
  .tile-link:hover {
    background-color: #e0dbd8;
    opacity: 0.85;
  }
  .centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .centered {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    word-wrap: break-word !important;
    -ms-word-wrap: break-word !important;
    white-space: pre-line;
    color: #777 !important;
    font-size: 0.9em;
    display: block;
  }
  #menu-arrow {
    display: inline;
  }
  #menu-caret {
    display: none;
  }
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  background: #e7e7e7;
  margin: 5px 10px;
  position: relative;
  color: #555;
}
.strike:before,
.strike:after {
  background-color: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.strike:before {
  right: 0.5em;
  margin-left: -50%;
}
.strike:after {
  left: 0.5em;
  margin-right: -50%;
}
